/* Insert your styles here */
.parallax { 
    /* The image used */
    background-image: url("dolby_cinema.jpeg");
  
    /* Set a specific height */
    height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

    /*Movie board*/
.main_content{
    margin-top:80px;
}
.poster{
    grid-area: poster;
}
.title{
    grid-area: title;
    font-size: 1.75rem;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}
.rating{
    grid-area: rating;
    font-size: 1.75rem;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: right;
}
.time{
    grid-area: time;
    border: 1px solid;
}

.moreInfo{
    grid-area: moreInfo;
}

.now-showing-item{
    display: grid;
    border: 1px solid blue;
    grid-template-areas:
      'poster title title rating'
      'poster time time time'
      'poster time time time'
      'poster time time time'
      'poster time time time'
      'poster time time time'
      'poster time time time'
      'poster time time time'
      'poster time time time'
      'poster time time time'
      'poster time time time'
      'poster moreInfo moreInfo moreInfo';
    grid-gap: 5px;
    background-color: rgb(201, 219, 235);
    padding: 5px;
}

/*Hide the scrollbar*/
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

/*Display of the modal's header*/
.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header > .title0 {
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

.title1 {
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
}

.customGutter > [class*='col-'] {
    padding-right:30px;
    padding-left:30px; 
}

.customGutter > [class*="col-"]:first-child {
  padding-left:30px;
}
  
.customGutter > [class*="col-"]:last-child {
  padding-right:30px;
}

.borderPadding {
    padding: 5px;
}

.borderBg {
    border: 1px solid blue;
    background-color:  rgb(201, 219, 235);
}