*, *::before, *::after {
    box-sizing: border-box;
}

.showcase {
    padding: 15px 15px 15px 15px;
}

table, th, td {
    border: 1px black solid;
    border-collapse: collapse;
}


/*General modal look*/
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    border: 1px black solid;
    border-radius: 10px;
    z-index: 10;
    background-color: lightblue;
    width: 50%;
    max-width: 50%;
    max-height: 80%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    overflow: auto;
}

/**/
.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

/*Hide the scrollbar*/
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

/*Display of the modal's header*/
.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header .title {
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

/*Display when the modal is open*/
#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}